.containerCar {
  display: flex;
  flex-direction: column;
  width: 92vw;
  margin: 10px auto;
}

.title {
  background-color: #27ae60;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.title h2 {
  color: white;
  font-weight: bold;
}

.contentSale {
  background-color: #f5f5f5;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  background-color: #f5f5f5;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 5px;
}

span {
  font-weight: bold;
}

.content p {
  font-size: 12px;
  margin-top: 10px;
  color: #828282;
}

.removeAll {
  width: 82vw;
  margin: 17px auto 0 auto;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  cursor: pointer;
}

.bt {
  margin: 0 6vw 0 auto;
  position: relative;
  bottom: 59px;
}

.contentBT {
  background-color: #f5f5f5;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
}

.contentBT .salePrice {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e0e0e0;
  justify-content: space-between;
}

.salePrice p {
  margin: 15px 5vw 0 5vw;
  font-size: 14px;
}

p[name="total"] {
  font-weight: bold;
}

@media only screen and (min-width: 769px) {
  .containerCar {
    width: 80vw;
  }

  .title h2 {
    color: white;
    font-size: 20px;
  }

  span {
    font-weight: bold;
    font-size: 19px;
  }

  .content p {
    font-size: 15px;
  }

  .removeAll {
    width: 70vw;
  }
}

@media only screen and (min-width: 1600px) {
  .containerCar {
    width: 400px;
    margin-right: 80px;
  }

  .title {
    height: 40px;
  }

  .content {
    height: 160px;
  }

  .contentSale {
    justify-content: space-between;
  }

  .bt {
    margin: 0 1vw 0 auto;
    position: relative;
    bottom: 99px;
  }

  .salePrice p {
    margin: 15px 2vw 0 2vw;
  }

  .removeAll {
    width: 21vw;
  }
}
